h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

a {
    color: #5D5D9E;
}

a:visited {
    color: #5D5D9E;
}

a:active {
    color: #5C615E;
}

a:hover {
    color: #B2B3B4;
}

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.textstyle1 {
    text-align: left;
}

#text_4915d68c {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    background-image: url('/static/causes_92888px_1024x6931.jpg');
    background-position: top left;
    background-size: cover;
}

#text_3dae042d {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 0, 128, 0.498039);
}

#container_65b495a2 {
    position: absolute;
    left: 0px;
    top: 10%;
    width: 100%;
    background: none;
}

#container_65b495a2_padding {
    margin: 10px;
    display: block;
}

.textstyle2 {
    text-align: center;
}

#heading_64f37254 {
    vertical-align: bottom;
    position: relative;
    display: inline-block;
    width: 100%;
    background: none;
}

.textstyle3 {
    font-size: 46pt;
    font-family: 'Palatino Linotype', 'Book Antiqua3', Palatino, serif;
    color: #FCD705;
    text-shadow: 2px 2px 2px #000000;
}

#text_21c46e0d {
    vertical-align: bottom;
    position: relative;
    display: inline-block;
    width: 100%;
    background: none;
}

.textstyle4 {
    font-size: 14pt;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFFFFF;
}

.textstyle5 {
    font-size: 14pt;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFFFFF;
    line-height: 1.5;
}

#container_27a5273a {
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 150px;
    background: none;
}

#container_27a5273a_padding {
    margin: 10px;
    display: block;
}

#container_66e929c9 {
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 20%;
    min-height: 150px;
    background: none;
}

#container_66e929c9_padding {
    margin: 10px;
    display: block;
}

#form_18f1f132 {
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 60%;
    min-height: 150px;
    background: none;
}

#form_18f1f132_padding {
    margin: 50px 10px 10px 10px;
    display: block;
}

#text_3b77e554 {
    vertical-align: bottom;
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #FF0080;
}

#text_3b77e554_padding {
    margin: 10px;
    display: block;
}

.textstyle6 {
    font-size: 12pt;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}

#button_6272362e {
    line-height: 250%;
    vertical-align: bottom;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    float: left;
    margin: 25px 0px 0px 0px;
    width: 250px;
    height: 40px;
    background-color: #EDEDED;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);
    font-size: 12pt;
    font-family: 'Open Sans';
    color: #06063E;
    font-weight: bold;
}

#container_22e4a421 {
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 20%;
    min-height: 150px;
    background: none;
}

#container_22e4a421_padding {
    margin: 10px;
    display: block;
}

#text_3148d828 {
    vertical-align: bottom;
    position: relative;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 100%;
    background: none;
}

.textstyle7 {
    font-size: 13pt;
    font-family: Verdana, Geneva, sans-serif;
    color: #F99700;
    font-weight: bold;
}

@media only screen and (max-width: 640px) {
    #container_66e929c9 {
        width: 10%;
    }
    #form_18f1f132 {
        width: 80%;
    }
    #container_22e4a421 {
        width: 10%;
    }
}