<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SPP Pneumonia Net</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index_html.css" />
  </head>
  <body>
    <div class="textstyle1">
      <div id="text_4915d68c">
        <div class="textstyle1">
          <div id="text_3dae042d">
            <div class="textstyle1">
              <div id="container_65b495a2">
                <div id="container_65b495a2_padding">
                  <div class="textstyle2">
                    <h1 id="heading_64f37254">
                      <span class="textstyle2">
                        <span class="textstyle3">SPP Pneumonia Net</span>
                      </span>
                    </h1>
                  </div>
                  <div class="textstyle1">
                    <div id="text_21c46e0d">
                      <div class="textstyle2">
                        <span class="textstyle4"><br /></span
                        ><span class="textstyle5"
                          >A lightweight deeplearning model for classifying
                          different types of pneumonia</span
                        >
                      </div>
                    </div>
                    <div id="container_27a5273a">
                      <div id="container_27a5273a_padding">
                        <div class="textstyle1">
                          <div id="container_66e929c9">
                            <div id="container_66e929c9_padding">
                              <div class="textstyle1"></div>
                            </div>
                          </div>
                          <form
                            action=""
                            enctype="multipart/form-data"
                            method="POST"
                            id="form_18f1f132"
                          >
                            <div id="form_18f1f132_padding">
                              <div class="textstyle1">
                                <div id="text_3b77e554">
                                  <div id="text_3b77e554_padding">
                                    <div class="textstyle1">
                                      <span class="textstyle6"
                                        >Protect Yourself From Pneumonia</span
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="textstyle2">
                                <input
                                  id="imageupload"
                                  name="inputfile"
                                  type="file"
                                  text="UPLOAD CHEST X-RAY IMAGE"
                                  value=""
                                  onchange="form.submit()"
                                  style="visibility: hidden"
                                />
                                <label
                                  for="imageupload"
                                  name="Button1"
                                  title="upload a frontal chest x-ray image"
                                  id="button_6272362e"
                                >UPLOAD CHEST X-RAY IMAGE
                                </label>
                              </div>
                              <div class="textstyle1"></div>
                              <div style="clear: both"></div>
                            </div>
                          </form>
                          <!--
                          <div id="container_22e4a421">
                            <div id="container_22e4a421_padding">
                              <div class="textstyle1"></div>
                            </div>
                          </div>
                        </div>
                        -->
                        <div class="textstyle2">
                          <div id="text_3148d828">
                            <div class="textstyle2">
                              <span class="textstyle7">Your result:</span>
                            </div>
                          </div>
                        </div>
                        <div style="clear: both"></div>
                      </div>
                    </div>
                  </div>
                  <div style="clear: both"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
